{% extends 'core/base.html' %}
{% block title %}{% endblock %}
{% block menu %}
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Новости</a>
    <a href="{% url 'core:objects' %}" class="list-group-item list-group-item-action">Мои объекты</a>
    <a href="#" class="list-group-item list-group-item-action">Задачи</a>
    <a href="#" class="list-group-item list-group-item-action">Календарь</a>
    <a href="#" class="list-group-item list-group-item-action">Документы</a>
    <a href="#" class="list-group-item list-group-item-action">Объекты</a>
  </div>
{% endblock %}
{% block content %}
{% endblock %}
