{% extends 'core/base.html' %}
{% block title %}Профиль{% endblock %}

{% load l10n %}

{% load flat_tags %}

{% block content %}
  <div class="table-responsive row">
    <div class="col-8">
      <h2>
        <div class="btn-group">
        Объекты
        </div>
        <a class="btn btn-warning btn-sm float-right" href="{% url 'flat:flat_new' %}" role="button">Добавить объект</a>
      </h2>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ flats|status_len:3 }}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ flats|status_len:4 }}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ flats|status_len:5 }}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar" role="progressbar" style="width: {{ flats|status_len:6 }}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Дата добавления</th>
            <th></th>
            <th>Адрес, цена, комиссия</th>
            <th>Звоники и показы</th>
            <th>Статус</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for flat in flats %}
          <tr>
            <td>
              {{ flat.id }}<br />
              <p class="d_line"><small>{{ flat.date_pub|date:'d E' }}<br />
              {{ flat.date_pub.time }}</small></p>
            </td>
            <td class="align-middle">
            {% if flat.images_set %}
              {{ flat.images_set|slice:":1" }}
            {% else %}
              <img data-src="holder.js/75x75" class="rounded" alt="75x75" style="width: 75px; height: 75px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15ed91c95b6%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15ed91c95b6%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.34375%22%20y%3D%2242%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            {% endif %}
            </td>
            <td>
              <a href="{% url 'flat:flat_view' flat.id %}"><strong>{{ flat.name }}</strong></a><br />
              {% if flat.metro %}
              &#127356; <small>{{ flat.metro }}</small><br />
              {% else %}
              &#127356; <small>Не указанно</small><br />
              {% endif %}
              <p class="a_line"><small>{{ flat.rooms }} ком,&ensp;{{ flat.total_area }} м<sup>2</sup>,&ensp;этаж {{ flat.floor }}/{{ flat.floors }}</small></p>
              <p class="p_line">{{ flat.prise|sep_price }} {{ flat.prise_type }}&emsp;<small>{{ flat.comm|sep_price }} {{ flat.comm_type }}</small></p>
            </td>
            <td>
              {{ flat.calls }}<br />
              {{ flat.views }}
            </td>
            <td class="align-middle">
              <p style="color:{{ flat.status.color }}">{{ flat.status }}</p>
            </td>
            <td class="align-middle">
              <div class="btn-group">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="">Редактировать</a>
                  <div class="dropdown-divider"></div>
                  {% for status in statuses|slice:":7" %}
                  <a class="dropdown-item" href="{% url 'flat:flat_set_status' flat.id status.id %}" style="color:{{ status.color }}">{{ status.name }}</a>
                  {% endfor %}
                  <div class="dropdown-divider"></div>
                  {% for status in statuses|slice:"7:" %}
                  <a class="dropdown-item" href="{% url 'flat:flat_set_status' flat.id status.id %}" style="color:{{ status.color }}">{{ status.name }}</a>
                  {% endfor %}
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-4" id="menu">
      <h2>Задачи <button type="button" class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#new-task-Modal" data-whatever="@getbootstrap">Добавить задачу</button></h2>
      <div class="list-group">

        <h5>На сегодня&emsp;{% now "SHORT_DATE_FORMAT" %}</h5>
        {% for task in tasks %}
          {% if task.active and task.deadline == date_now or task.active and not task.deadline %}
            {% if task.priority.id == 1 %}
            <a href="" data-toggle="collapse" data-target="#task_today_{{ task.id }}" data-parent="#menu" class="list-group-item list-group-item-action list-group-item-light">{{ task.get_short_label }}</a>
            {% elif task.priority.id == 2 %}
            <a href="" data-toggle="collapse" data-target="#task_today_{{ task.id }}" data-parent="#menu" class="list-group-item list-group-item-action">{{ task.get_short_label }}</a>
            {% elif task.priority.id == 3 %}
            <a href="" data-toggle="collapse" data-target="#task_today_{{ task.id }}" data-parent="#menu" class="list-group-item list-group-item-action list-group-item-warning">{{ task.get_short_label }}</a>
            {% elif task.priority.id == 4 %}
            <a href="" data-toggle="collapse" data-target="#task_today_{{ task.id }}" data-parent="#menu" class="list-group-item list-group-item-action list-group-item-danger">{{ task.get_short_label }}</a>
            {% endif %}
            <div id="task_today_{{ task.id }}" class="sublinks collapse">
              <div class="list-group-item flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ task.label }}</h5>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">{{ task.director.get_full_name }}</div>
                    <div class="col-md-6">
                      <span class="pull-right">
                        {% if task.deadline %}
                          {{ task.deadline }}
                        {% endif %}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    {% for executor in task.taskexecutor_set.all %}
                      {% if executor.executor != request.user %}
                    <div class="col-md-6"><small>{{ executor.executor.get_full_name }}</small></div>
                    <div class="col-md-6">
                      <span class="pull-right">
                        {% if executor.done %}
                          <small>&#10004;</small>
                        {% endif %}
                      </span>
                    </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <p><a href="{% url 'flat:flat_view' task.target.id %}" >{{ task.target }}</a></p>
                <p>{{ task.text|linebreaks }}</p>
                {% for comment in task.taskcomments_set.all %}
                <div class="container">
                  <div class="row">
                    <div class="col-md-6"><small>{{ comment.author.get_full_name }}</small></div>
                    <div class="col-md-6"><span class="pull-right"><small>{{ comment.date_pub }}</small></span>
                    </div>
                  </div>
                </div>
                <small>{{ comment.text|linebreaks }}</small>
                {% endfor %}
                <form id="task_del_today_{{ task.id }}" action="{% url 'core:task_del' task.id %}"></form>
                <form id="task_done_today_{{ task.id }}" action="{% url 'core:task_done' task.id %}"></form>
                <form action="{% url 'core:task_add_comment' task.id %}" method="post" id="task_today_new_comment_{{ task.id }}">
                  {% csrf_token %}
                  {{ task_comment_form }}
                </form>
                <p></p>
                <div class="container">
                  <div class="row">
                      <div class="col-6">
                        <button type="submit" form="task_today_new_comment_{{ task.id }}" class="btn btn-secondary btn-sm float-left">Добавить коментарий</button>
                      </div>
                      <div class="col-6">
                        {% if task.director == request.user %}
                          <button type="submit" form="task_del_today_{{ task.id }}" class="btn btn-danger btn-sm float-right">Удалить</button>
                        {% else %}
                          <button type="submit" form="task_done_today_{{ task.id }}" class="btn btn-success btn-sm float-right">Выполнено</button>
                        {% endif %}
                      </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <p></p>

        <h5>Просроченные</h5>
        {% for task in tasks %}
          {% if task.active and task.deadline < date_now %}
            <a href="" data-toggle="collapse" data-target="#task_{{ task.id }}" data-parent="#menu" class="list-group-item list-group-item-action list-group-item-danger">{{ task.get_short_label }}</a>
            <div id="task_{{ task.id }}" class="sublinks collapse">
              <div class="list-group-item flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ task.label }}</h5>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">{{ task.director.get_full_name }}</div>
                    <div class="col-md-6">
                      <span class="pull-right">
                        {% if task.deadline %}
                          {{ task.deadline }}
                        {% endif %}
                      </span>
                    </div>
                  </div>
                </div>
								<div class="container">
									<div class="row">
										{% for executor in task.taskexecutor_set.all %}
											{% if executor.executor != request.user %}
										<div class="col-md-6"><small>{{ executor.executor.get_full_name }}</small></div>
										<div class="col-md-6">
											<span class="pull-right">
												{% if executor.done %}
													<small>&#10004;</small>
												{% endif %}
											</span>
										</div>
											{% endif %}
										{% endfor %}
									</div>
                </div>
								<p><a href="{% url 'flat:flat_view' task.target.id %}" >{{ task.target }}</a></p>
                <p>{{ task.text|linebreaks }}</p>
                {% for comment in task.taskcomments_set.all %}
                <div class="container">
                  <div class="row">
                    <div class="col-md-6"><small>{{ comment.author.get_full_name }}</small></div>
                    <div class="col-md-6"><span class="pull-right"><small>{{ comment.date_pub }}</small></span>
                    </div>
                  </div>
                </div>
                <small>{{ comment.text|linebreaks }}</small>
                {% endfor %}
                <form id="task_del_{{ task.id }}" action="{% url 'core:task_del' task.id %}"></form>
                <form id="task_done_{{ task.id }}" action="{% url 'core:task_done' task.id %}"></form>
                <form action="{% url 'core:task_add_comment' task.id %}" method="post" id="task_new_comment_{{ task.id }}">
                  {% csrf_token %}
                  {{ task_comment_form }}
                </form>
                <p></p>
                <div class="container">
                  <div class="row">
                      <div class="col-6">
                        <button type="submit" form="task_new_comment_{{ task.id }}" class="btn btn-secondary btn-sm float-left">Добавить коментарий</button>
                      </div>
                      <div class="col-6">
                        {% if task.director == request.user %}
                          <button type="submit" form="task_del_{{ task.id }}" class="btn btn-danger btn-sm float-right">Удалить</button>
                        {% else %}
                          <button type="submit" form="task_done_{{ task.id }}" class="btn btn-success btn-sm float-right">Выполнено</button>
                        {% endif %}
                      </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="modal fade" id="new-task-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Новая задача</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'core:task_new' %}" method="post" id="task_new">
            {% csrf_token %}
            <!--<select data-toggle="{{ form.executor }}" size="1" multiple></select>-->
            <!--<select class="form-control form-control-sm" name="target" id="id_target" data-toggle="{{ form.target }}"></select>-->
            <!--<input class="form-control form-control-sm" name="deadline" id="id_deadline" type="datetime-local" value="2011-08-19T13:45:00">-->
            <!--<input class="form-control form-control-sm" name="label" id="id_label" type="text" placeholder="Название">-->
            <!--<textarea class="form-control form-control-sm" name="text" id="id_text" rows="3" placeholder="Текст"></textarea>-->
            <!--{{ task_executor_form }}-->
            <select class="form-control" size="5" name="user_id" multiple>
            {% for user in users %}
              <option value="{{ user.id }}">{{ user.get_full_name }}</option>
            {% endfor %}
            </select>
            {{ task_form }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary" form="task_new">Добавить задачу</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
