{% extends 'core/base.html' %}
{% block title %}Профиль{% endblock %}
{% block menu %}
  <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item"><a class="nav-link active" href="{% url 'core:panel' %}">Панель управления</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'core:objects' %}">Объекты</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'core:calendar' %}">Календарь</a></li>
    </ul>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item"><a class="nav-link" href="{% url 'core:news' %}">Новости</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'core:docs' %}">Документы</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'core:contacts' %}">Контакты</a></li>
    </ul>
  </nav>
{% endblock %}
{% block content %}
  <div class="table-responsive row">
    <div class="col-8">
      <h2>
        <div class="btn-group">
        Объекты
        </div>
        <a class="btn btn-warning btn-sm float-right" href="{% url 'flat:flat_new' %}" role="button">Добавить объект</a>
      </h2>
      <div class="progress">
        <!--{{ flats.status.pause|length }}-->
        <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: 10%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        <!--<div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
      </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Дата добавления</th>
            <th></th>
            <th>Адрес, цена, комиссия</th>
            <th>Звоники и показы</th>
            <th>Статус</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for flat in flats %}
          <tr>
            <td>
              {{ flat.id }}<br />
              <p class="d_line"><small>{{ flat.date_pub.date|date:'d E' }}<br />
              {{ flat.date_pub.time }}</small></p>
            </td>
            <td class="align-middle">
            {% if flat.images_set %}
              {{ flat.images_set|slice:":1" }}
            {% else %}
              <img data-src="holder.js/75x75" class="rounded" alt="75x75" style="width: 75px; height: 75px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15ed91c95b6%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15ed91c95b6%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.34375%22%20y%3D%2242%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            {% endif %}
            </td>
            <td>
              <a href="{% url 'flat:flat_view' flat.id %}"><strong>{{ flat.name }}</strong></a><br />
              {% if flat.metro %}
              &#127356; <small>{{ flat.metro }}</small><br />
              {% else %}
              &#127356; <small>Не указанно</small><br />
              {% endif %}
              <p class="a_line"><small>{{ flat.rooms }} ком,&ensp;{{ flat.total_area }} м<sup>2</sup>,&ensp;этаж {{ flat.floor }}/{{ flat.floors }}</small></p>
              <p class="p_line">{{ flat.prise }} {{ flat.prise_type }}&emsp;<small>{{ flat.comm }} {{ flat.comm_type }}</small></p>
            </td>
            <td>
              {{ flat.calls }}<br />
              {{ flat.views }}
            </td>
            <td class="align-middle">
              <p style="color:{{ flat.status.color }}">{{ flat.status }}</p>
            </td>
            <td class="align-middle">
              <div class="btn-group">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="">Редактировать</a>
                  <div class="dropdown-divider"></div>
                  {% for status in statuses|slice:":7" %}
                  <a class="dropdown-item" href="{% url 'flat:flat_set_status' flat.id status.id %}" style="color:{{ status.color }}">{{ status.name }}</a>
                  {% endfor %}
                  <div class="dropdown-divider"></div>
                  {% for status in statuses|slice:"7:" %}
                  <a class="dropdown-item" href="{% url 'flat:flat_set_status' flat.id status.id %}" style="color:{{ status.color }}">{{ status.name }}</a>
                  {% endfor %}
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h2>Задачи <button type="button" class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#new-task-Modal" data-whatever="@getbootstrap">Добавить задачу</button></h2>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">This is a primary list group item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">This is a secondary list group item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">This is a success list group item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">This is a danger list group item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-warning">This is a warning list group item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">This is a info list group item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">This is a dark list group item</a>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new-task-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Новая задача</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'core:task_new' %}" method="post" id="task_new">
            {% csrf_token %}
            {{ form }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary" form="task_new">Добавить задачу</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}